<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Why Choose Us?</h4>
        <h4 class="display-4 font-weight-bold">Benifits of Joining Our GYM</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/download.jpg" alt="Image">
                    <i class="flaticon-barbell"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Supplements for Better Results</h4>
                    <p>In addition to our fitness offerings, we also sell a variety of supplements that can help our members achieve their fitness goals. Our supplements are carefully selected to support muscle growth, improve endurance, and enhance overall performance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-2.jpg" alt="Image">
                    <i class="flaticon-training"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Training Calendar</h4>
                    <p>Our online Training Calendar is a user-friendly tool that allows members to sign up for upcoming fitness classes and training sessions, making it easy to plan and schedule workouts in advance for a more efficient and effective gym experience.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-3.jpg" alt="Image">
                    <i class="flaticon-trends"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Best in Jendouba </h4>
                    <p>Our gym is known for having the best brand and high-quality materials in Jendouba, offering members access to top-tier fitness gear for a superior workout experience.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="img/feature-4.jpg" alt="Image">
                    <i class="flaticon-support"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Community Support</h4>
                    <p>Our gym offers great community support through a welcoming and encouraging environment that promotes socialization and helps members achieve their fitness goals.</p>
                </div>
            </div>
        </div>
    </div>
</div>