<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/" class="navbar-brand">
            <h1 class="m-0 display-4 font-weight-bold text-uppercase text-white">Best Gym</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4 bg-secondary">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/store" class="nav-item nav-link active">Store</a> 
                <!-- <a href="/guide" class="nav-item nav-link active"> Vedio Guide </a>  -->
                
              
              
                
            </div>
        </div>
    </nav>
</div>