<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
      <h4 class="text-primary font-weight-bold">Our Trainers</h4>
      <h4 class="display-4 font-weight-bold">Meet Our Expert Trainers</h4>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card border-0 bg-secondary text-center text-white">
          <img class="card-img-top" src="img/coch1.jpg" alt="">
          <div class="card-social d-flex align-items-center justify-content-center">
            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.facebook.com/genetiquement.mkachakh"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="card-body bg-secondary">
            <h4 class="card-title text-primary">Ala Eddine Ghazouani</h4>
            <p class="card-text">Trainer</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card border-0 bg-secondary text-center text-white">
          <img class="card-img-top" src="img/coch.jpg" alt="">
          <div class="card-social d-flex align-items-center justify-content-center">
            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.facebook.com/mohame.ali.9003?comment_id=Y29tbWVudDo5MDMwMzQwODQwMDEzMzJfNTY4NTY2MzE1MjQ0MTAx"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.instagram.com/dalijouiri675/"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="card-body bg-secondary">
            <h4 class="card-title text-primary">Mohamed Ali Jouiri</h4>
            <p class="card-text">Trainer</p>
          </div>
        </div>
      </div>
  
    </div>
