<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>
<body>
     <nav>
        <%- include('../partials/nav') %>
     </nav>
   
     <div class="container-fluid p-0">
        <div id="blog-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/bg.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h3 class="text-primary text-capitalize m-0">Gym & Fitness Center</h3>
                        <h2 class="display-2 m-0 mt-2 mt-md-4 text-white font-weight-bold text-capitalize"> Buy our Supplements   </h2>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>

    <div class="shop-cont">
        <div class="product-card">
            <div class="product-image">
              <img src="img/download.jpg" alt="creatin">
            </div>
            <div class="product-info">
              <h3 class="product-title"> GOLD CREATINE – 300 G </h3>
              <span class="product-price">170 Tnd</span> <br>
              <a href="https://www.facebook.com/profile.php?id=100028842467803">
                <button class="product-button">Buy Now</button>
             </a>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img src="img/prot.jpg" alt="creatin">
            </div>
            <div class="product-info">
              <h3 class="product-title">Hydro Whey Protein </h3>
              <p class="product-description"></p>
              <span class="product-price">250  Tnd</span> <br>
             <a href="https://www.facebook.com/profile.php?id=100028842467803">
                <button class="product-button">Buy Now</button>
             </a>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img src="img/protin.png" alt="Product Image">
            </div>
            <div class="product-info">
              <h3 class="product-title">STACKED PROTEIN – 2.27KG</h3>
              <p class="product-description"></p>
              <span class="product-price">260  Tnd</span>  <br>
              <a href="https://www.facebook.com/profile.php?id=100028842467803">
                <button class="product-button">Buy Now</button>
             </a>
            </div>
          </div>
                    
    </div>
    
          
    

    <div class="footer">
        <%- include('../partials/footer') %>
    </div>
</body>
</html>